/* ===== Webサイト全体のスタイル ===== */
/* html */
html {
  height: 100%;
  scroll-behavior:smooth;
}

/* body */
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

/* ナビゲーションの箱 */
nav {
  background-color: #f5f5f5;
  padding-top: 5px;
  padding-bottom: 10px;
  height:40px;
  position:fixed;
  width:100%;
  box-shadow: 0px 5px 20px #7d7d7d;
  z-index:100;
}


/* リスト全体 */
nav ul {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align:right;
  float:right;
}

/* １つ１つのリスト */
nav li {
  display: inline-block;
  margin-right:40px;
  margin-top:10px;
  margin-bottom:10px;
}

/* リンク */
nav a {
  color: #000000;
  font-family: "Playfair Display", serif;
  font-size:20px;
  text-decoration:none; 
  padding:10px;
}

/* リンクにふれた時 */
nav a:hover {
  color: #3a5199;
  text-decoration-color:#3a5199;
}
/* 見出し */
.sign {
  text-align:center;/*文字を中央に揃える*/
  font-family:Tangerine;/* フォントの種類 */
  color:#2f2e33;
  background:rgba(255,255,255,0.3);
  background-size:300px 300px;
  padding-top:20px;
}

.sign {
  animation: fadeIn 3.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sign h1 {
  font-size: 100px;/* フォントの大きさ */
  margin-top:-10px;/*位置調整*/
}

.sign h2 {
  font-size:30px;/*文字の大きさ*/
  margin-top:-80px;/*h1とh2の間を狭くする*/
  padding-bottom:10px;
}
/* ===== ヘッダーのスタイル ===== */
/* ヘッダーの箱 */
header {
  background-image: url(header.jpg);
  height:450px;
  background-size:cover;
  padding-top:150px;
}



/* ===== お店紹介のスタイル ===== */
/* セクション */
.shop {
  background-color:#f5f5f5;/* 背景の色 */
  color: #000000;
  padding: 20px;
}

/* h2見出し */
.title {
  font-size: 30px;
  border-left-style: solid;
  border-left-width: 5px;
  padding-left: 15px;
  margin-bottom: 20px;
  font-family: "Noto Serif JP", serif;
  font-weight:300;
  font-style: normal;
  margin-top:50px;
}

/* 段落 */
.shop p {
  font-size: 20px;
  background-color: #ffffff;
  padding:20px;
  border-radius: 0px;
  margin-right:30px;
  margin-bottom:20px;
  font-family:"Note Serif JP", serif;
  font-weight:200;
  font-style:normal;
}

/* 画像 */
.shop img {
float: right;/* 画像や箱の回り込み */
 width:250px;
 height:220px;
 object-fit:cover;
}


/* ===== おすすめ紹介のスタイル ===== */
/* セクション */
.photo {
  padding: 30px;
  background-color:#f5f5f5;
}

/* h2見出し */
.photo h2 {
  color: #000000;
  border-color: #000000;
}

/* h3見出し */
.photo h3 {
  color: #000000;
  font-family:"Note Serif JP", serif;
}

.photo h4 {
  color:#000000;
  font-family:"Note Eerif JP" ,serif;
  padding-top:-10px;
}

.photo div p {
  color:#000000;
}

.picture{
  display: grid;
  gap:15px;
  grid-template-columns:repeat(auto-fit,minmax(240px, 1fr));
  margin-top: 2%;
  padding-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 50px;
  background-image: url(haikei.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.item img{

  max-width: 100%;
  height: auto;
  }

   
.item img {
  animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
 
@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
 

.item p {
  text-align: center;
  color:white;
  text-shadow:1px 1px 0 #000000, -1px -1px #000000,
  -1px 1px 0 #000000, 1px -1px 0#000000,
  0px 1px 0 #000000,  0-1px 0#000000,
  -1px 0 0 #000000, 1px 0 0 #000000;
  font-size: 30px;
  font-family: sans-serif;
}

/* ===== 値段表のスタイル ===== */
/* セクション */
.price {
  padding: 30px;
  background-color:#f5f5f5;
}

/* h2見出し */
.price h2 {
  color: #000000;
  border-color: #00000;
  font-family:"Note Eerif JP" ,serif; 
}

/* 表 */
.price table {
  background-color: #ffffff;
  border-collapse: collapse;/* 表の隙間（すきま） */
  width: 100%;
  font-family:"Note Eerif JP" ,serif; 
}

/* 表のセル */
.price td {
  border: 1px solid #000000;
  padding: 10px;
  font-family:"Note Eerif JP" ,serif; 
}

/* 表の見出しセル */
.price th {
  border: 1px solid #000000;
  padding: 10px;
  background-color:#bacade;
  text-align: left;
  font-family:"Note Eerif JP" ,serif; 
}
.price img {
  margin: auto;
  display: block;
  width:300px;
  height:270px;
}

/* 表の見出しセル（季節） */
.season th {
  background-color: #bacade;
  font-family:"Note Eerif JP" ,serif; 
}

.price p {
  font-family:"Note Eerif JP" ,serif; 
}


/* ===== アクセス情報のスタイル ===== */
/* セクション */
.access {
  padding: 30px;
  background-color: #f5f5f5;
  height: 400px;
  color: #000000;
}

/* h3見出し */
.access h3 {
  font-size: 130px;
  font-family:Tangerine;/* フォントの種類 */
  margin-bottom:-90px;
  margin-top:0px;
}

.access h4{
  font-family:Tangerine;/* フォントの種類 */
  font-size:50px;
  float:left;
  padding-right:60px;
}

/* リスト */
.access ul {
  list-style-type: none;/* リストのマーカー */
  padding-left: 0px;
   font-family:"Note Eerif JP" ,serif;  
}

.access a {
  color:#000000;
  text-decoration-color:#000000;
    font-family:"Note Eerif JP" ,serif; 
}

.access a:hover {
  color: #3a5199;
  text-decoration-color:#3a5199;
}
/* 箱 */
.access div {
  float: left;
  width: 50%;
}

/* フッター */
footer {
  text-align: center;
  background-color: #d5d6d2;
  color: #3a5199;
   font-family:"Note Eerif JP" ,serif;
}